
| [English](problem_en.md) | 简体中文 |

# [{{.Data.QuestionFrontendId}}. {{.Data.TranslatedTitle}}](https://leetcode.cn/problems/{{.Data.TitleSlug}}/)
Difficulty:{{.Data.Difficulty}}, Likes: {{.Data.Likes}}

## 题目描述

{{.Data.TranslatedContent}}

## 相关话题
{{range .Data.TopicTags}}
    - [{{.TranslatedName}}](https://leetcode.cn/tag/{{.Slug}}/)
{{- end}}

## 相似题目
{{range .Data.SimilarQuestions}}
    - [{{.TranslatedTitle}}](../{{.TitleSlug}}/README.md) {{.Difficulty}} {{if.IsPaidOnly}}🔒{{end}}{{/* 是否付费 */}}
{{- end}}
