
| English | [简体中文](problem_zh.md) |

# [{{.Data.QuestionFrontendId}}. {{.Data.Title}}](https://leetcode.com/problems/{{.Data.TitleSlug}}/)
Difficulty:{{.Data.Difficulty}}, Likes: {{.Data.Likes}}

## Description

{{.Data.Content}}

## Related Topics
{{range .Data.TopicTags }}
- [{{.Name}}](https://leetcode.com/tag/{{.Slug}}/)
{{- end }}

## Similar Questions
{{range .Data.SimilarQuestions}}
- [{{.Title}}](../{{.TitleSlug}}/README_EN.md) {{.Difficulty}} {{if.IsPaidOnly}}🔒{{end}}{{/* 是否付费 */}}
{{- end }}
