package main

import (
	"testing"{{if .NeedDefinition}}

	. "github.com/EndlessCheng/codeforces-go/leetcode/testutil"{{end}}

	"leetcode/tests"
)

func Test_{{.Name}}(t *testing.T) {
	targetCaseNum := 0 // -1

	fs := []{{.Type}}{
		{{.Name}},
		// {{.Name}}2,
		// leetcode,
		// endlessCheng,
	}

	for _, f := range fs {
		err := tests.Run{{.RunType}}(t, f, samples, targetCaseNum)
		if err != nil {
			t.Error(err)
		}
	}
}

var samples = {{.Samples}}
