package main

import (
	"testing"{{if .NeedDefinition}}

	. "github.com/EndlessCheng/codeforces-go/leetcode/testutil"{{end}}

	"github.com/niluan304/leetcode/tests"
)

func Test_{{.FuncName}}(t *testing.T) {
	targetCaseNum := 0 // -1

	fs := []{{.FuncType}}{
		//bruteForce,
		{{.FuncName}},
		//{{.FuncName}}2,
		//leetcode,
		//endlessCheng,
	}

	for _, f := range fs {
		err := tests.Run{{.RunType}}(t, f, samples, targetCaseNum)
		if err != nil {
			t.Error(err)
		}
	}
}

var samples = `
{{.Samples}}
`
